<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303510216622-a3b1em9hc1fogsafh5r3nkj23gmtokim.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303510216622-a3b1em9hc1fogsafh5r3nkj23gmtokim</string>
	<key>API_KEY</key>
	<string>AIzaSyA2A9peh-X051nE5av9o_JPmNxtkLQZ4fk</string>
	<key>GCM_SENDER_ID</key>
	<string>303510216622</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.labActivityRecipesApp</string>
	<key>PROJECT_ID</key>
	<string>in-lab-activity-reciept-app</string>
	<key>STORAGE_BUCKET</key>
	<string>in-lab-activity-reciept-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303510216622:ios:81197b9e0c934b30c9f23f</string>
</dict>
</plist>